
<footer>
    <p>Made with ❤️ for couples everywhere</p>
    <p><a href="#" style="color:#c9a84c; font-weight:600; text-decoration:none;">EasyInvite</a> &copy; 2026</p>
</footer>
<script src="/scripts/invite.js"></script>
</body>


</html>