<footer class="site-footer">
  <p>
    Designed and developed by
    <a href="https://your-link-here.com" target="_blank" rel="noopener noreferrer" class="footer-link">
      AFLAH TK
    </a>
    &copy; 2026
  </p>
</footer>

<script src="scripts\sharelink.js"></script>
</body>

</html>